<h1 id="title">Products Log</h1>

<h2>{{#link-to 'logs.new'}}Add Log{{/link-to}}</h2>
<h2>{{#link-to 'logs'}}View Recent Logs{{/link-to}}</h2>
<h2>{{#link-to 'products'}}View Products{{/link-to}}</h2>